<div class="common-div-chat">
  <mat-card class="chat">
    <mat-list class="chat-list">
      <mat-list-item>
        <message></message>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="input-messeg">
    <mat-form-field color="accent">
      <!--<input matInput placeholder="Сообщение">-->
      <textarea matInput placeholder="Сообщение" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3"></textarea>
    </mat-form-field>
    <button mat-mini-fab class="primory">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card>
</div>
